

<div id="like-container"> 
	<!-- facebook like button + redirect to fb page -->

	<div class="fb-share-button"  data-layout="button">
	</div>
	<!-- twitter button + redirect to twitter page -->
	<div><br>
		<a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
	</div>
	<br>
	<div>
		<!-- Github fork button link -->
		<a class="github-button" href="https://github.com/goodbedford/vagabond" data-icon="octicon-git-branch" data-style="mega"  aria-label="Fork ntkme/github-buttons on GitHub">Fork</a>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-xs-12"> 	 
			<iframe width='100%' height='500px' frameBorder='0' src='https://a.tiles.mapbox.com/v4/sahash182.n5f629g4/attribution,zoompan,zoomwheel,geocoder,share.html?access_token=pk.eyJ1Ijoic2FoYXNoMTgyIiwiYSI6IjJhNGNjYzNiMTRmMGQ5MjkwYjcwMmEwY2IwYjkxMDk5In0.9d5E9GnR78TIUvQnjUrGxw'></iframe>

		</div>
	</div>
<div class='city-list'>
	<a href="http://localhost:3000/cities/1">San Francisco</a>
	<a href="http://localhost:3000/cities/2">London</a>
	<a href="http://localhost:3000/cities/3">Gibraltar</a>
	<a href="http://localhost:3000/cities/4">Kathmandu</a>
	<a href="http://localhost:3000/cities/5">Kolkata</a>
	<a href="http://localhost:3000/cities/6">Pittsburgh</a>
</div>
</div>

 <script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4&appId=80860984538";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

<!-- Place this tag right after the last button or just before your close body tag. -->
<script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>
