<h1><%= @post.title %></h1>
<hr>
<p>
	<%= @post.body %>
</p>

<%= link_to "Edit", edit_post_path(@post), class: "btn btn-primary" %> 
<%= link_to "Delete", post_path(@post), class: "btn btn-primary" %> 
