/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


ul{
	padding-top: 10px;
}
iframe{
  position: relative;
}
h1, p{
  color: white;
}
h5{
  color: white;
}
a {
  color: white;
  font-size: 18px;
  margin-left: 70px;
}

.city-list{
  background-color: 
  margin: 0 auto;
}

/*.city-list a{
  text-align: center;
  width: 100%;*/
}

.error, .errorInput {
  color: red;
}

#post{
	background-color: rgba(122,90,55,.8);
}
.navbar-default, .container-fluid{
  background-color:rgba(0,99,232,.4);
  background-size: cover;
  margin-bottom: 20px;
  z-index: 1;
  color: white;
 
}
#like-container{
  position: absolute;
  padding-top: 150px;
  z-index: 1;
}

#index{
  background-image: url("http://e794d552b4c822b8205c-27b9cc3fb8731a4a7598943b8a8a6a91.r73.cf1.rackcdn.com/10/2/large.jpg");
  background-size: cover;

}
.fb_iframe_widget {
    vertical-align: 5px;
}

