/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

a {
  color: rgba(153, 204, 51, 1);
  font-size: 18px;
  margin-left: 10px;
}
.margin-lt{
  margin-left: 70px;
}
a:hover{
  color: #781EB8;
}
a.list-city{
  margin: 0 0 60px 0;

}
.error, .errorInput {
  color: red;
}
.fb_iframe_widget {
    vertical-align: 5px;
}
a.profile{
  color: white!important;
}
iframe{
  position: relative;
}
.img-profile{
  margin: 1.4em 0;
}
#index{
  background-color: white;
  background-size: cover;
}
h1, h5, p{
  color: #781EB8 ;
}
.p-title{
  color: #781EB8;
}
.p-title:hover{
  color: green;
}

#like-container{
  position: absolute;
  padding-top: 150px;
  z-index: 1;
}
.navbar-default, .container-fluid{
  background-color:rgba(0,99,232,.4);
  background-size: cover;
  margin-bottom: 0px;
  z-index: 1;
  color: white;
}
#post{
  background-color: rgba(153, 204, 51, .1);
}
ul{
  padding-top: 10px;
}
.well{
  margin-top: 20px;
}
